/* color palette from <https://github.com/vuejs/theme> */
:root {
	box-sizing: border-box;

	--ff: "Poppins", sans-serif;
	--fs: 1.125rem;
	--fw-md: 500;
	--fw-bold: 700;

	--Cyan: hsl(180, 66%, 49%);
	--DarkViolet: hsl(257, 27%, 26%);

	--Red: hsl(0, 87%, 67%);

	--Gray: hsl(0, 0%, 75%);
	--GrayishViolet: hsl(257, 7%, 63%);
	--VeryDarkBlue: hsl(255, 11%, 22%);
	--VeryDarkViolet: hsl(260, 8%, 14%);
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	font-family: var(--ff);
	font-size: var(--fs);
	line-height: 1.5;
}
img {
	max-width: 100%;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
button {
	cursor: pointer;
}

.heading--js {
	display: inline-block;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
