@import './base.css';

#app {
  max-width: 1440px;
  margin-inline: auto;
  overflow: hidden;
  min-height: 100vh;
}
.hero {
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: auto auto;
	/* align-items: center; */
  justify-content: start;
}
.illustration {
  grid-column: 2/-1;
  grid-row: 1;
}
.hero__content {
  grid-column: 2;
  grid-row: 2;
}
